# Ignore system files
.DS_Store
Thumbs.db

# Ignore dependency folders (if you use npm)
node_modules/
package-lock.json

# Ignore environment files
.env

# Ignore compiled and temporary files
*.log
*.tmp

# IntelliJ IDEA
 .idea/
 *.iml

 # Build output
 out/
